# macOS
.DS_Store

# Windows
Thumbs.db

# Node/npm (för ev. framtida automatisering)
node_modules/
npm-debug.log*
package-lock.json
.env

# Service worker / PWA-cache / byggen
dist/
.cache/
workbox-*.js
service-worker.js.map

# GitHub Pages cache
*.log

# Editor/IDE
.vscode/
.idea/

# Output
*.zip
*.bak
*.tmp
